@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../public/fonts/Roboto-Regular.ttf") format('truetype');
    }
    @font-face {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../public/fonts/RobotoSlab-Medium.ttf") format('truetype');
    }
}